

/* IMAGE */
.image-container {
   
    margin-top: 20px;
    overflow-x: hidden;
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 4px;
}
.image-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 1.2rem;
    position: relative;
    left: 0;
    transition: .3s;
}
.image-wrapper > * {
    aspect-ratio: 4 / 3;
}
.image-wrapper_1 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 1.2rem;
    position: relative;
    left: 0;
    transition: .3s;
}
.image-wrapper_1 > * {
    aspect-ratio: 4 / 3;
}
img {
   height: 80%;
   width: 80%;
    
    display: block;
    border-radius: .5rem;
}
/* IMAGE */

